{% extends 'layout.html' %}

{% block content %}

  <div id="main">
    <label for="search">Search Contacts:</label>
    <input id="search" type="search" name="q"
      value="{{ request.args.get('q') or '' }}"/>
    <button hx-post="/contacts" hx-target="#main" hx-include="#search" hx-push-url="true">
      Search
    </button>
  </div>

  <table>
    <thead>
      <tr>
        <th>First <th>Last <th>Phone <th>Email </th>
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
        <tr>
          <td>{{ contact.first }}</td>
          <td>{{ contact.last }}</td>
          <td>{{ contact.phone }}</td>
          <td>{{ contact.email }}</td>
          <td><a href="/contacts/{{ contact.id }}/edit">Edit</a>
            <a href="/contacts/{{ contact.id }}">View</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div>
    <span style="float: right">
      {% if page > 1 %}
        <a href="/contacts?page={{ page - 1 }}">Previous</a>
      {% endif %}
      {% if contacts|length == 10 %}
        <a href="/contacts?page={{ page + 1 }}">Next</a>
      {% endif %}
    </span>
  </div>

  <p>
    <a href="/contacts/new">Add Contact</a>
  </p>

{% endblock %}