<!DOCTYPE html>
<html lang="">
  <head>
    <title>Contact app</title>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.3.0">
    <link rel="stylesheet" href="/static/site.css">
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/_hyperscript.min.js"></script>
    <script src="/static/js/rsjs-menu.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.17.3/dist/cdn.min.js"></script>
  </head>
  <body hx-boost="true">
  <main>
      <header>
        <h1>Contacts.app</h1>
        <h2>A demo contacts application</h2>
      </header>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>